html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
    font-weight: 500;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

nav{
    position: relative;
    top: 1rem;
    right: 3rem;
    width: 25rem;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-size: 1.5rem;
}

.showcase_img{
    width: 95vw;
    margin: 1rem;
}

article{
    display: flex;
    justify-content: space-around;
    margin: 0 5rem;
}
h2{
    font-size: 500;
    color: brown;
}

.container{
    text-align: center;
    padding: 1.5rem;
}

p{
    font-size: 1rem;
    justify-content: center;
}

footer{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    background-color: black;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

/* pseudo class */
a:hover{
    color: red;
}